.add-btn, .back-btn{
	float: right;
	margin-top: -4px;
}

.input{
	margin-bottom: 5px;
}

.action_subject{
	margin: 3px;
	cursor: pointer;
}		

.notification{
	margin-bottom: 5px;
	background-color: green !important; 
	color: white !important;
}